---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

const { content = "blog", limit = 3 } = Astro.props;

const posts = (await getCollection(content as any))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, limit);
---

<style>
  ul li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
  }

  ul a:hover img {
    box-shadow: var(--box-shadow);
  }
</style>

<ul>
  {
    posts.map((post) => (
      <li>
        <a href={`/portfolio_site/${content}/${post.id}/`}>
          <img src={post.data.heroImage} alt="" />
          <h4 class="title">{post.data.title}</h4>
          <p class="date">
            <FormattedDate date={post.data.pubDate} />
          </p>
        </a>
      </li>
      <div class="border-l border-gray-600 md:h-70 h-50" />
    ))
  }
</ul>
